<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9">               <![endif]-->
<!--[if gt IE 8]><!--> <html>                          <!--<![endif]-->
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width"/>

    <title>Serialization Test</title>

    <link rel="stylesheet" type="text/css" href="../../lib/qunit.css"/>

    <script type="text/javascript" src="../../lib/fakexhr.js"></script>
    <script type="text/javascript" src="../../node_modules/q/q.js"></script>
    <script type="text/javascript" src="../../dist/pajamas.js"></script>
    <script type="text/javascript" src="../../lib/qunit.js"></script>
    <script type="text/javascript" src="partial-test.js"></script>
  </head>
  <body>
    <div id="qunit"></div>
  </body>
</html>